<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form th:action="@{/login}" th:method="post">
    <div>
      <label>Username</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" />
    </div>
    <button type="submit">Sign in</button>
  </form>
</body>
</html>
